<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<p class="navbar-brand">AutoMate Logo Here</p>
	</div>
	<div class="">
		<ul class="nav navbar-nav side-nav">
			<li><a href=""><i class="icons fa fa-tachometer fa-fw"></i>Dashboard</a></li>
			<li class="active"><a href=""><i class="icons fa fa-globe fa-fw"></i> Temperature</a></li>
			<li><a href=""><i class="icons fa fa-camera fa-fw"></i> Cameras</a></li>
			<li><a href=""><i class="icons fa fa-power-off  fa-fw"></i> Power</a></li>
			<li><a href=""><i class="icons fa fa-home fa-fw"></i> Rooms</a></li>
			<li><a href=""><i class="icons fa fa-lightbulb-o  fa-fw"></i> Lighting</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="">
				<a href="#" ><i class="fa fa-envelope"></i>Messages <span class="label label-success">7</span><b class="caret"></b></a>    
			</li>
			<li class="">
				<a href="#"><i class="fa fa-bell"></i>Alerts <span class="label label-warning">3</span> <b class="caret"></b></a>
			</li>
			<li class="">
				<a href="#"><i class="fa fa-user"></i>UserName  <b class="caret"></b></a>
			</li>
		</ul>
	</div>
</nav>
<div id="page-wrapper">
	<div class="row">
		<div id="main-power" class="col-xs-12"></div>
	</div>	
	<div id="tab-row" class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs" id="myTab">
				<li id="one" class="active"><a id="one" href="#zoneOne" data-toggle="tab">Zone One</a></li>
				<li id="two" ><a href="#zoneTwo" data-toggle="tab">Zone Two</a></li>
				<li id="three"><a href="#zoneThree" data-toggle="tab">Zone Three</a></li>
			</ul>
			<div class="tab-content" id="tabDivs">
				<div class="tab-pane" id="zoneOne">One</div>
				<div class="tab-pane" id="zoneTwo">Two</div>
				<div class="tab-pane" id="zoneThree">Three</div>
			</div>
		</div>
	</div>		
</div>
